@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Outfit:wght@200;300&family=Poppins:wght@200;400&display=swap');

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, rgba(201, 24, 74, 0.67) 0%, rgba(253, 234, 220, 0.46) 54%, #FDEADC 100%);
}

.innerContainer {
    display: flex;
    max-width: 800px;
    width: 100vw;
    height: 99%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.cadastroText {
    font-weight: 800;
    word-wrap: break-word;
}

.signupText {
    font-weight: 800;
    text-decoration: underline;
    
}

.rightSide {
    flex: 1;
    position: relative;
}

.gender{
    border-radius: 10px;
    height: 3vh;
}

.imageWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.title {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
    width: 80%;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    padding: 20px;
}

.inputContainer {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    align-items: flex-start;
}

.button {
    color: white;
    font-size: 16px;
    width: 60%;
    height: 40px;
    background: #C9184A;
    border-radius: 17px;
    cursor: pointer;
    border: none;
    margin-left: 7vw;
    margin-top: 10px;
}