.faixaRosa{
    background-color: rgba(201, 24, 74, 0.55);
    width: 100vw;
    height: 3.125rem;
}

.topLogo{
    display: flex;
    margin: auto;
}

.cabecalho{
    background-image: url('../../public/img/img-cabecalho.png');
    width: 100vw;
    height: 28.125rem;
}

.textCabecalho{
    margin-left: 5%;
}

.textCabecalho h1{
    color: #FDEADC;
    font-family: Rounded Mplus 1c;
    font-size: 3rem;
    font-style: normal;             /* font para importar */
    font-weight: 900;
    line-height: normal;
    padding-top: 4%;
}

.textCabecalho p{
    color: #FDEADC;
    font-family: Rounded Mplus 1c;
    font-size: 2rem;
    font-style: normal;             /* font para importar */
    font-weight: 400;
    line-height: normal;
    padding-top: 5%;
    width: 36%;
}

.textCabecalho button{
    width: 16.125rem;
    height: 3.75rem;
    border: 0;
    border-radius: 2.8125rem;
    background-color: #C9184A;
    color: #FDEADC;                 /* font para importar */
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3%;
}

.sectionApps{
    margin-top: 17%;
    display: flex;
    justify-content: space-around;
}

.Apps{
    text-align: center;
    width: 20.625rem;
    height: 18.75rem;
    background-color: #C9184A;
    border-radius: 4.8125rem;
    box-shadow: 0px 4px 50px 0px #FDEADC;
}

.Apps h5{
    margin-top: 8%;
    margin-bottom: 3%;
    color: #FDEADC;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;                        /* font para importar */
    font-weight: 900;
    line-height: normal;
}

.Apps p{
    margin: 9% auto 0 auto;
    color: #FDEADC;
    text-align: center;
    font-family: Rounded Mplus 1c;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15.5625rem;
}

.sublinhado{
    margin: auto;
    width: 5.625rem;
    height: 0.125rem;
    background-color: #FDEADC;
}


.circulo{
    margin: 10% auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDEADC;
    width: 6vw;
    height: 7vh;
    border-radius: 50%;
}

.circulo svg{
    width: 4vw;
    height: 4vh;
}

.sectionInfos{
    display: flex;
    justify-content: space-around;
    margin-top: 17%;
}

.textInfo h2{
    width: 21.75rem;
    color: #C9184A;
    font-family: Rounded Mplus 1c Bold;
    font-size: 2.5rem;                                            /* font para importar */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
}

.textInfo p{
    color: #000;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;                                             /* font para importar */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10%;
    width: 36.4375rem;
    height: 11.125rem;
}

.textInfo button{
    border: 0;
    border-radius: 2.8125rem;
    background-color: #C9184A;
    width: 11.25rem;
    height: 3.75rem;
    color: #FDEADC;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10% 0 0 3%;
}

.sectionInspiracao{
    margin-top: 17%;
    text-align: center;
    width: 100vw;
    height: 25.0625rem;
    background-image: url('../../public/img/img-inspiração.png');
}

.sectionInspiracao h2{
    padding-top: 5.6%;
    margin: auto;
    width: 21.875rem;
    color: #FFF;
    font-family: Rounded Mplus 1c;
    font-size: 2.5rem;                                      /* font para importar */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sublinhados2{
    display: flex;
    justify-content: center;
}

.sublinhado2{
    margin: 3% 3% 0 3%;
    width: 16.1875rem;
    height: 0.1875rem;
    background-color: #FDEADC;
}

.sectionInspiracao p{
    color: #FFF;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 4.2%;
}

.sectionInspiracao button{
    width: 15.625rem;
    height: 3.125rem;
    border-radius: 2.8125rem;
    background-color: #FDEADC;
    color: #C9184A;
    font-family: Rounded Mplus 1c;              /* font para importar */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    margin-top: 4.5%;
}

.sectionAvaliacoes{
    margin-top: 8%;
}

.sectionAvaliacoes h2{
    margin: auto;
    width: 41.125rem;
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 2.5rem;                                      /* font para importar */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.blocoAvaliacao{
    width: 62.5rem;
    height: 21.875rem;
    margin: 6% auto 0 auto;
    padding: 2.5% 4%;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.50);
}

.conteudoAvaliacoes p{
    width: 55.4375rem;
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;                                  /* font para importar */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.perfilAvaliador{
    margin-top: 5%;
    display: flex;
}

.infoAvaliador{
    margin: 1.8% 0 0 1.5%;
}

.infoAvaliador h6{
    color: #000;
    font-family: Rounded Mplus 1c Bold;
    font-size: 1.12rem;
    font-style: normal;                                             /* font para importar */
    font-weight: 700;
    line-height: normal;
}
                                                                         
.infoAvaliador p{
    color: rgba(201, 24, 74, 0.67);
    font-family: Rounded Mplus 1c;
    font-size: 0.98rem;
    font-style: normal;                                             /* font para importar */
    font-weight: 400;
    line-height: normal;
}

.footer{
    background-color: #FDEADC;
    margin-top: 12%;
    width: 90rem;
    height: 25rem;
}

.conteudoFooter{
    margin-left: 5%;
}

.imgFooter{
    margin-top: 3%;
}

.sublinhadoFooter{
    width: 12.5rem;
    height: 0.125rem;                   
    margin-top: 3%;
    background-color: #C9184A;
}

.conteudoFooter h4{
    color: #000;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;                                   /* font para importar */
    margin: 3% 0 2.5% 0;
    line-height: normal;
}

.conteudoFooter p{
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 1rem;                                    /* font para importar */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}