@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Outfit:wght@200;300&family=Poppins:wght@200;400&display=swap');

.cabecalho{
    display: flex;
    justify-content: center;
    font-family: Rounded Mplus 1c;
    margin-top: 10vh;
    color: #C9184A;

}

.opcoes{
    width: 8%;
    border-radius: 20px;
}

.enviar{
    margin-top: 20px;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    background-color: #C9184A;
    border-color: #C9184A;
}

.formulario{
    font-family: Rounded Mplus 1c;
    color: #C9184A;
    font-size: 20px;
}

.pergunta{
    color: #C9184A;
    font-family: Rounded Mplus 1c;
}

.botao{
    text-align: center;
}

.headerContent {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #C9184A;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}