.pagina{
    max-width: 1440px;
    margin: auto;
}

.linhaRosa{
    background-color: #C9184A;
    width: 73.6875rem;
    height: 0.9375rem;
    margin: auto;
}

.topSection{
    display: flex;
    justify-content: center;
}

.textTopSection h1{
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 5%;
}

.linhaRosa2{
    width: 34.875rem;
    height: 1.25rem;
    background-color: #C9184A;
}

.textTopSection h5{
    width: 37.875rem;
    color: #FFD6B8;
    font-family: Rounded Mplus 1c;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10%;
}

.paragrafo{
    color: #C9184A;
    text-align: justify;
    font-family: Rounded Mplus 1c;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 73.6875rem;
    margin: auto;
}

.sectionInformations{
    margin-top: 8%;
    background-color: #C9184A;
}

.titulo{
    display: flex;
    align-items: center;
    padding-top: 3%;
    margin: 0 0 2% 6%;
}

.titulo p{
    color: #FFD6B8;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 2%;
}

.linhaBranca{
    width: 12.5rem;
    height: 0.375rem;
    background-color: #FFD6B8;
}

.boxIntegrantes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.integrante{
    width: 21.875rem;
    height: 21.875rem;
    margin: 2% 3%;
    background-color: #CE3A64;
}

.integrante p{
    color: #FFF;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    margin: 2%;
}

.integranteImg{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 13.25rem;
    display: flex;
    margin: auto;
}

.integrante h6{
    color: #FFF;
    font-family: Rounded Mplus 1c;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 3% 2% 2% 2%;
}

.boxTecnologias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tecnologia{
    width: 15.25rem;
    height: 16rem;
    border-radius: 4.6875rem;
    background-color: #FFF;
    margin: 2% 2%;
    display: flex;
}

.tecnologiaImg{
    width: 12.5rem;
    height: 7.01475rem;
    display: flex;
    margin: auto;
}

.parceiros{
    width: 80.5625rem;
    height: 45rem;
    background-color: #FFF;
    margin: auto;
}

.parceiros h3{
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 4% 0 0 8%;
}

.boxParceiros{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

.parceirosImg{
    width: 23.75rem;
    height: 5.4375rem;
}

.linhaRose{
    width: 66.8125rem;
    height: 1.5625rem;
    background-color: #FFD6B8;
    margin: 10% auto 8% auto;
}

.parceirosBottom{
    display: flex;
    justify-content: space-around;
}

.nomeIntegrantes h4{
    color: #000;
    font-family: Rounded Mplus 1c;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nomeIntegrantes p{
    color: #C9184A;
    font-family: Rounded Mplus 1c;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 29rem;
}

.logoFooter{
    width: 200px;
    height: 200px;
}

@media (max-width: 1300px) {
    .parceiros{
        width: 70rem;
        height: 45rem;
    }
}

@media (max-width: 1200px) {
    .linhaRosa{
        width: 70rem;
        height: 0.90rem;
    }

    .textTopSection h1{
        font-size: 5.5rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 31rem;
        height: 1.20rem;
    }
    
    .textTopSection h5{
        width: 35rem;
        font-size: 2.8rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 555px ;
        height: 549px;
    }

    .paragrafo{
        font-size: 1.8rem;
        width: 70rem;
    }
    
}

@media (max-width: 1130px){
    .linhaRosa{
        width: 65rem;
        height: 0.90rem;
    }

    .textTopSection h1{
        font-size: 5.2rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 27rem;
        height: 1.15rem;
    }
    
    .textTopSection h5{
        width: 33rem;
        font-size: 2.5rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 527px ;
        height: 521px;
    }

    .paragrafo{
        font-size: 1.5rem;
        width: 65rem;
    }

    /*Rodapé*/

    .parceiros{
        width: 60rem;
        height: 40rem;
    }

    .parceiros h3{
        font-size: 2rem;
        margin: 4% 0 0 8%;
    }
    
    .boxParceiros{
        margin-top: 8%;
        display: flex;
        justify-content: space-around;
    }
    
    .parceirosImg{
        width: 20rem;
        height: 4rem;
    }
    
    .linhaRose{
        width: 40rem;
        height: 1.2rem;
        margin: 10% auto 8% auto;
    }
    
    .parceirosBottom{
        display: flex;
        justify-content: space-around;
    }
    
    .nomeIntegrantes h4{
        font-size: 1.5rem;
    }
    
    .nomeIntegrantes p{
        font-size: 1rem;
        width: 29rem;
    }
    
    .logoFooter{
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 1050px){
    .linhaRosa{
        width: 56rem;
        height: 0.80rem;
    }

    .textTopSection h1{
        font-size: 4.8rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 22rem;
        height: 1rem;
    }
    
    .textTopSection h5{
        width: 25rem;
        font-size: 2rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 490px ;
        height: 484px;
    }

    .paragrafo{
        font-size: 1.3rem;
        width: 50rem;
    }

}

@media (max-width: 960px){
    /*Rodapé*/

    .parceiros{
        width: 50rem;
        height: 34rem;
    }
}

@media (max-width: 900px){
    .linhaRosa{
        width: 50rem;
        height: 0.80rem;
    }

    .textTopSection h1{
        font-size: 4rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 20rem;
        height: 0.90rem;
    }
    
    .textTopSection h5{
        width: 23rem;
        font-size: 1.8rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 441px ;
        height: 435px;
    }

    .paragrafo{
        font-size: 1.3rem;
        width: 47rem;
    }

    /*Integrantes*/

    .titulo{
        padding-top: 3%;
        margin: 0 0 2% 6%;
    }
    
    .titulo p{
        font-size: 1.3rem;
        margin-right: 2%;
    }
    
    .linhaBranca{
        width: 11.5rem;
        height: 0.33rem;
    }
    
    .integrante{
        width: 15rem;
        height: 15rem;
        margin: 2% 3%;
    }
    
    .integrante p{
        font-size: 1rem;
        margin: 2%;
    }
    
    .integranteImg{
        width: 10rem;
        height: 10rem;
        border-radius: 13.25rem;
    }
    
    .integrante h6{
        font-size: 1.5rem;
        margin: 6% 2% 2% 2%;
    }

    /*Tecnologias*/
    
    .tecnologia{
        width: 10rem;
        height: 11rem;
        border-radius: 4.6875rem;
        margin: 2% 2%;
    }
    
    .tecnologiaImg{
        width: 8rem;
        height: 4.5rem;
    }

    /*Rodapé*/

    .parceiros{
        width: 45rem;
        height: 27rem;
    }

    .parceiros h3{
        font-size: 1.5rem;
        margin: 4% 0 0 8%;
    }
    
    .boxParceiros{
        margin-top: 8%;
    }
    
    .parceirosImg{
        width: 15rem;
        height: 3rem;
    }
    
    .linhaRose{
        width: 30rem;
        height: 0.80rem;
        margin: 10% auto 6% auto;
    }
    
    .nomeIntegrantes h4{
        font-size: 1.3rem;
        margin-top: 6%;
    }
    
    .nomeIntegrantes p{
        font-size: 0.90rem;
        width: 29rem;
    }
    
    .logoFooter{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 805px){
    .linhaRosa{
        width: 43rem;
        height: 0.70rem;
    }

    .textTopSection h1{
        font-size: 3.7rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 17rem;
        height: 0.85rem;
    }
    
    .textTopSection h5{
        width: 20rem;
        font-size: 1.5rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 376px ;
        height: 371px;
    }

    .paragrafo{
        font-size: 1rem;
        width: 40rem;
    }
}

@media (max-width: 720px){
    .parceiros{
        width: 40rem;
        height: 27rem;
    }

    .parceiros h3{
        font-size: 1.3rem;
        margin: 4% 0 0 8%;
    }
    
    .boxParceiros{
        margin-top: 8%;
    }
    
    .parceirosImg{
        width: 13rem;
        height: 2.5rem;
    }
    
    .linhaRose{
        width: 25rem;
        height: 0.70rem;
        margin: 9% auto 6% auto;
    }
    
    .nomeIntegrantes h4{
        font-size: 1.1rem;
        margin-top: 7%;
    }
    
    .nomeIntegrantes p{
        font-size: 0.80rem;
        width: 25rem;
    }
    
    .logoFooter{
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 694px){
    .topLogo{
        width: 180px;
        height: 180px;
    }

    .linhaRosa{
        width: 35.5rem;
        height: 0.60rem;
    }

    .textTopSection h1{
        font-size: 3rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 15rem;
        height: 0.70rem;
    }
    
    .textTopSection h5{
        width: 17rem;
        font-size: 1.2rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 303px ;
        height: 299px;
    }

    .paragrafo{
        font-size: 1rem;
        width: 35rem;
    }
}

@media (max-width: 642px){
    .parceiros{
        width: 30rem;
        height: 20rem;
    }

    .parceiros h3{
        font-size: 1rem;
        margin: 4% 0 0 8%;
    }
    
    .boxParceiros{
        margin-top: 8%;
    }
    
    .parceirosImg{
        width: 10rem;
        height: 1.8rem;
    }
    
    .linhaRose{
        width: 20rem;
        height: 0.50rem;
        margin: 9% auto 6% auto;
    }
    
    .nomeIntegrantes h4{
        font-size: 0.90rem;
        margin-top: 7%;
    }
    
    .nomeIntegrantes p{
        font-size: 0.65rem;
        width: 20rem;
    }
    
    .logoFooter{
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 574px){
    .topLogo{
        width: 170px;
        height: 170px;
    }

    .linhaRosa{
        width: 29rem;
        height: 0.50rem;
    }

    .textTopSection h1{
        font-size: 2rem;
        margin-top: 5%;
    }
    
    .linhaRosa2{
        width: 10rem;
        height: 0.60rem;
    }
    
    .textTopSection h5{
        width: 14rem;
        font-size: 1.1rem;
        margin-top: 10%;
    }
    
    .logoGrande{
        width: 242px ;
        height: 230px;
    }

    .paragrafo{
        font-size: 0.8rem;
        width: 28.5rem;
    }

    /*Integrantes*/
    
    .titulo p{
        font-size: 1rem;
        margin-right: 2%;
    }
    
    .linhaBranca{
        width: 9rem;
        height: 0.28rem;
    }
    
    .integrante{
        width: 12rem;
        height: 12rem;
        margin: 2% 3%;
    }
    
    .integrante p{
        font-size: 0.7rem;
        margin: 2%;
    }
    
    .integranteImg{
        width: 9rem;
        height: 9rem;
        border-radius: 13.25rem;
    }
    
    .integrante h6{
        font-size: 1.2rem;
        margin: 0 2% 2% 2%;
    }


    /*Tecnologias*/

    .tecnologia{
        width: 7.2rem;
        height: 8.8rem;
        border-radius: 4.6875rem;
        margin: 2% 2%;
    }
    
    .tecnologiaImg{
        width: 6.5rem;
        height: 3.8rem;
    }
}


